### Reversing a String

In [32]:
s = 'data science analytics machine'

l = s.split()
l2 = l[::-1]

rev_str = ' '.join(l2)
print(rev_str)

machine analytics science data

In [33]:
def rev_str(s):
    l = s.split()
    l2 = l[::-1]

    rev_str = ' '.join(l2)
    return rev_str
rev_str("ANUJ KHARE")

'KHARE ANUJ'

## Even Odd

In [37]:
num = [10,22,45,65,98,56,74,23,87,88]
even = []
odd = []
for i in num:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[10, 22, 98, 56, 74, 88]
[45, 65, 23, 87]

### By Function

In [39]:
def evenOdd(num):
    even = []
    odd = []
    for i in num:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)
    
    print(even)
    print(odd)

num = [10,22,45,65,98,56,74,23,87,88]
evenOdd(num)

[10, 22, 98, 56, 74, 88]
[45, 65, 23, 87]

### By List Comprehension

In [43]:
num = [10,22,45,65,98,56,74,23,87,88]

even = [i for i in num if i % 2 == 0]
odd = [i for i in num if i % 2 != 0]
print(even)
print(odd)

[10, 22, 98, 56, 74, 88]
[45, 65, 23, 87]

### By Lambda Function

In [50]:
num = [10,22,45,65,98,56,74,23,87,88]

even = list(filter(lambda i: i % 2==0, num))
odd = list(filter(lambda i: i % 2!=0, num))

print(even)
print(odd)

[10, 22, 98, 56, 74, 88]
[45, 65, 23, 87]

### Factorial

In [67]:
n = int(input())

fact = 1
if n < 0:
    print('Does not Exist')
elif n == 0:
    print('Factoral is 1')
else:
    for i in range(1, n+1):
        fact = fact * i
    print(f"{n} factorial is {fact}")

 5

5 factorial is 120

### Sum of n natural number

In [68]:
n = int(input())

sum = 0

for i in range(1, n + 1): 
    sum = sum + i
print(sum)

 5

15

### Greatest Number

In [73]:
a= int(input())
b = int(input())
c = int(input())

if a > b and a > c:
    print(a,"is greatest")
elif b > a and b > c:
    print(b,'is greatest')
else: 
    print(c,'is greatest')

 4
 5
 6

6 is greatest