#### Pythagoras

In [4]:
opp_side = float(input("Enter the Opposite side of the right angle triangle: "))
adj_side = float(input("Enter the adjacent side of the right angle triangle: "))

hyp = ((opp_side**2) + (adj_side**2))**0.5
print("The Hypotenuse of the Triangle is: ", hyp)

Enter the Opposite side of the right angle triangle:  3
Enter the adjacent side of the right angle triangle:  4

The Hypotenuse of the Triangle is:  5.0

#### Arithmetic Progression

In [5]:
tn = int(input("Enter the third term of the series: "))
tltn = int(input("Enter third last term: "))
s_sum = int(input("Sum of the series: "))

n = int(2 * s_sum / (tn + tltn))
print ("Length of the series: ", n)

if n - 5 == 0:
    d = (s_sum - 3 * tn)
else:
    d = (tltn - tn) / (n - 5)

a = tn - 2 * d
j = 0

print("Series: ")
for j in range(n - 1):
    print(int(a), end = " ")
    a += d
print (int(a), end = " ")

Enter the third term of the series:  3
Enter third last term:  6
Sum of the series:  36

Length of the series:  8
Series:
1 2 3 4 5 6 7 8