### Arithemaic operator

+ ,  -  ,  *  ,  /  ,  //  , % , **

In [8]:
a = 10
b = 2
c = a+b
print (c, type(c))

12 <class 'int'>

In [9]:
a = 10
b = 2
c = a-b
print (c, type(c))

8 <class 'int'>

In [12]:
a = 10
b = 2
c = a*b
print (c, type(c))

20 <class 'int'>

In [10]:
a = 11
b = 2
c = a/b
print (c, type(c))

5.5 <class 'float'>

In [11]:
a = 11
b = 2
c = a//b
print (c, type(c))

5 <class 'int'>

In [14]:
a = 13
b = 2
c = a%b
print (c, type(c))

1 <class 'int'>

In [15]:
a = 10
b = 2
c = a**b
print (c, type(c))

100 <class 'int'>

In [19]:
d = int (input ("Enter a number: "))
print (d, type(d))
e = d + a
print (e, type(e))

Enter a number:  6

6 <class 'int'>
16 <class 'int'>

#### Find the Area of the circle

In [28]:
rad = float(input("Enter the radius of the circle: "))
area = 3.14 * rad ** 2
print ("The area of the circle is: ", area)

Enter the radius of the circle:  5.5

The area of the circle is:  94.985

#### Area of Rectangle

In [30]:
length = int (input ("Ener the Length of the Rectangle: "))
breath = int (input ("Ener the breath of the Rectangle: "))
area = length * breath
print ("The Area of the Rectangle is: ", area)

Ener the Length of the Rectangle:  5
Ener the breath of the Rectangle:  2

The Area of the Rectangle is:  10

#### Area of the Square

In [32]:
side = int (input ("Ener the side of the square: "))
area = side * side
print ("The Area of the Square is: ", area)

Ener the side of the square:  5

The Area of the Square is:  25

#### Area of Triangle

In [33]:
base = int (input ("Ener the base of the Triangle: "))
height = int (input ("Ener the height of the Triangle: "))
area = 0.5* base * height
print ("The Area of the Triangle is: ", area)

Ener the base of the Triangle:  5
Ener the height of the Triangle:  2

The Area of the Triangle is:  5.0

#### Square root

In [44]:
b = float (input ("Enter a number: "))
c = float(b ** (1/2))
print ("The square root of the number is: ", c)

Enter a number:  100

The square root of the number is:  10.0

#### Cube root

In [45]:
b = float (input ("Enter a number: "))
c = float(b ** (1/3))
print ("The cube root of the number is: ", c)

Enter a number:  27

The cube root of the number is:  3.0

#### Simple Interest

In [48]:
P = float (input( "Enter the principle amount: "))
R = float (input( "Enter the rate of interest: "))
T = float (input( "Enter the Time Duration: "))
SI = (P * R * T) / 100
print ("The Simple Interest is: ", SI)

Enter the principle amount:  2000
Enter the rate of interest:  10
Enter the Time Duration:  2

The Simple Interest is:  400.0

#### Compound Interest

In [2]:
P = float (input( "Enter the principle amount: "))
R = float (input( "Enter the rate of interest(%): "))
T = float (input( "Enter the Time Duration: "))
N = float (input(" Enter the Number of times the interest is compounded per year: "))
R = R/100
CI = P * (1 + (R/N)) ** (N * T) - P
print("The compound Interest is: ", CI)

Enter the principle amount:  10000
Enter the rate of interest(%):  5
Enter the Time Duration:  2
 Enter the Number of times the interest is compounded per year:  4

The compound Interest is:  1044.8610118141205

#### Check Even and odd

In [59]:
n = int (input("Enter a number: "))
if n % 2 == 0:
    print ("Number is Even")
else:
    print ("Number is Odd")

Enter a number:  5

Number is Odd

In [60]:
n = int (input("Enter a number: "))
if n % 2 == 0:
    print ("Number is Even")
else:
    print ("Number is Odd")

Enter a number:  6

Number is Even