### Area of Circle

In [1]:
import math

class Circle: 
    def __init__(self, r): 
        self.r = r

    def area(self): 
        return math.pi * self.r * self.r

    def perimeter(self): 
        return 2 * math.pi * self.r

c1 = Circle(7)
print(c1.area())
print(c1.perimeter())

153.93804002589985
43.982297150257104

### Employee Details

In [3]:
class Employee: 

    employee_count = 101
    def __init__(self, name, desgin, sal): 
        self.name = name
        self.designation = desgin
        self.salary = sal
        self.eid = 'e' + str(Employee.employee_count)
        Employee.employee_count += 1

    def show_details (self): 
        print('Name:', self.name)
        print('Eid:', self.eid)
        print('Designation:', self.designation)
        print('Salary:', self.salary)

    @classmethod
    def total_emp(cls):
        return cls.employee_count - 101

e1 = Employee('Anuj', 'Software Engineer', 80000)
e2 = Employee('Anubhav', 'Sales Manager', 120000)

e1.show_details()
print(' ')
e2.show_details()

Name: Anuj
Eid: e101
Designation: Software Engineer
Salary: 80000

Name: Anubhav
Eid: e102
Designation: Sales Manager
Salary: 120000