### Bank Account

In [12]:
class MinimumBalanceError(Exception): 
    pass

class Account: 
    AccNumber = 1001

    def __init__(self, name, balance=1000): 

        if balance < 1000:
            raise MinimumBalanceError('Account Cannot be Created')
        self.name = name
        self.balance = balance
        self.account_number = Account.AccNumber
        Account.AccNumber += 1

    def deposite(self, amt): 
        self.balance += amt

    def withdraw(self, amt): 
        if self.balance - amt < 1000: 
            raise MinimumBalanceError('Amount cannot be withdrawn')
        self.balance -= amt

    def show_details(self):
        print("Account Number", self.account_number)
        print("Name", self.name)
        print("Balance", self.balance)

In [13]:
a1 = Account('Anuj', 2000)
a1.show_details()

Account Number 1001
Name Anuj
Balance 2000

In [14]:
a2 = Account('Anubhav', 4000)
a2.show_details()

Account Number 1002
Name Anubhav
Balance 4000

In [15]:
a1.deposite(1000)
a1.show_details()

Account Number 1001
Name Anuj
Balance 3000

In [ ]:
a1.withdraw(500)
a1.show_details