### Data Cleaning

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\Anuj Khare\Desktop\jupyter notebook\food_coded.csv")

In [7]:
dataset.head(3)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.

In [5]:
dataset.shape

(125, 61)

In [11]:
dataset.shape[0]

125

In [15]:
#total number of null values
dataset.isnull().sum().sum()

np.int64(149)

In [16]:
(dataset.isnull().sum().sum()/(dataset.shape[0]*dataset.shape[1])) * 100

np.float64(1.9540983606557378)

In [10]:
# number of null values
dataset.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         26
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [13]:
# Percentage Null values
(dataset.isnull().sum()/dataset.shape[0]) * 100

GPA                  1.6
Gender               0.0
breakfast            0.0
calories_chicken     0.0
calories_day        15.2
                    ...
type_sports         20.8
veggies_day          0.0
vitamins             0.0
waffle_calories      0.0
weight               1.6
Length: 61, dtype: float64

In [17]:
# not Null values
dataset.notnull().sum()

GPA                 123
Gender              125
breakfast           125
calories_chicken    125
calories_day        106
                   ...
type_sports          99
veggies_day         125
vitamins            125
waffle_calories     125
weight              123
Length: 61, dtype: int64