In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('movie_profit.csv')

In [3]:
df.head()

,Unnamed: 0,release_date,movie,production_budget,domestic_gross,worldwide_gross,distributor,mpaa_rating,genre
0,1,6/22/2007,Evan Almighty,175000000.0,100289690.0,1.741313e+08,Universal,PG,Comedy
1,2,7/28/1995,Waterworld,175000000.0,88246220.0,2.642462e+08,Universal,PG-13,Action
2,3,5/12/2017,King Arthur: Legend of the Sword,175000000.0,39175066.0,1.399507e+08,Warner Bros.,PG-13,Adventure
3,4,12/25/2013,47 Ronin,175000000.0,38362475.0,1.517168e+08,Universal,PG-13,Action
4,5,6/22/2018,Jurassic World: Fallen Kingdom,170000000.0,416769345.0,1.304866e+09,Universal,PG-13,Action

In [4]:
df.columns

Index(['Unnamed: 0', 'release_date', 'movie', 'production_budget',
       'domestic_gross', 'worldwide_gross', 'distributor', 'mpaa_rating',
       'genre'],
      dtype='object')

In [6]:
df = df.drop(columns='Unnamed: 0')

In [7]:
df

,release_date,movie,production_budget,domestic_gross,worldwide_gross,distributor,mpaa_rating,genre
0,6/22/2007,Evan Almighty,175000000.0,100289690.0,1.741313e+08,Universal,PG,Comedy
1,7/28/1995,Waterworld,175000000.0,88246220.0,2.642462e+08,Universal,PG-13,Action
2,5/12/2017,King Arthur: Legend of the Sword,175000000.0,39175066.0,1.399507e+08,Warner Bros.,PG-13,Adventure
3,12/25/2013,47 Ronin,175000000.0,38362475.0,1.517168e+08,Universal,PG-13,Action
4,6/22/2018,Jurassic World: Fallen Kingdom,170000000.0,416769345.0,1.304866e+09,Universal,PG-13,Action
...,...,...,...,...,...,...,...,...
3396,10/28/2011,Like Crazy,250000.0,3395391.0,3.728400e+06,Paramount Pictures,PG-13,Drama
3397,7/14/2000,Chuck&Buck,250000.0,1055671.0,1.157672e+06,Artisan,R,Drama
3398,3/28/1997,Love and Other Catastrophes,250000.0,212285.0,7.432160e+05,Fox Searchlight,R,Comedy
3399,8/28/1998,I Married a Strange Person,250000.0,203134.0,2.031340e+05,Lionsgate,NaN,Comedy
3400,7/22/2005,November,250000.0,191862.0,1.918620e+05,Sony Pictures Classics,R,Drama

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3401 entries, 0 to 3400
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       3401 non-null   object
 1   movie              3401 non-null   object
 2   production_budget  3401 non-null   float64
 3   domestic_gross     3401 non-null   float64
 4   worldwide_gross    3401 non-null   float64
 5   distributor        3353 non-null   object
 6   mpaa_rating        3264 non-null   object
 7   genre              3401 non-null   object
dtypes: float64(3), object(5)
memory usage: 212.7+ KB

In [9]:
df.isnull().sum()

release_date           0
movie                  0
production_budget      0
domestic_gross         0
worldwide_gross        0
distributor           48
mpaa_rating          137
genre                  0
dtype: int64

In [10]:
df.shape

(3401, 8)

In [11]:
df.dropna(inplace=True)

In [12]:
df.isna().sum()

release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
distributor          0
mpaa_rating          0
genre                0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.describe()

       production_budget  domestic_gross  worldwide_gross
count       3.230000e+03    3.230000e+03     3.230000e+03
mean        3.459218e+07    4.726805e+07     9.841706e+07
std         3.526337e+07    5.973707e+07     1.432841e+08
min         2.500000e+05    0.000000e+00     0.000000e+00
25%         1.000000e+07    6.867944e+06     1.177994e+07
50%         2.200000e+07    2.733297e+07     4.404424e+07
75%         4.900000e+07    6.341329e+07     1.252019e+08
max         1.750000e+08    4.745447e+08     1.304866e+09